<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<div th:replace="fragments/fragment :: kepala"></div>
</head>
	<body>
		<div th:replace="fragments/fragment :: header">
		</div>
		<div th:replace="fragments/fragment :: space"></div>
		<div class="jumbotron">
			<div class="container">
				<h1>Sistem Informasi Kependudukan DKI Jakarta</h1>
				<p>Selamat datang pada Sistem Informasi Kependudukan Pemerintah Provinsi DKI Jakarta</p>
			</div>
		</div>
		<div class="container">
		<div class="row">
			<div class="col-md-5">
				<form action="/keluarga" method="get" th:object="${keluarga}">
					<div class="form-group">
					<h3>Lihat Data Keluarga Berdasarkan NKK</h3>
					<label for="nik"><i>Masukan Nomor Kartu Keluarga</i></label>
					<input type="text" name="nkk" class="form-control"/>
					</div>
					<button type="submit" class="btn btn-primary" name="action">Submit</button>
				</form>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<form action="/penduduk" method="get" th:object="${penduduk}">	
					<div class="form-group">
					<h3>Lihat Data Penduduk Berdasarkan NIK</h3>
					<label for="nik"><i>Masukan Nomor Induk Kependudukan</i></label> 
					<input type="text" name="nik" class="form-control"/>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
		</div>
		<div th:replace="fragments/fragment :: footer"></div>
	</body>
</html>