<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <div th:replace="fragments/fragment :: kepala"></div>
</head>
	<body>
		<div th:replace="fragments/fragment :: header"></div>
		<div th:replace="fragments/fragment :: space"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 panel panel-default">
					<div class="panel-body">
					<h3 th:text="'Lihat data keluarga - '+${keluarga.nomor_kk}">Lihat data keluarga</h3>         
						  <table class="table">
						    <tbody>
						      <tr>
						        <td><b> NKK</b></td>
						        <td th:text="${keluarga.nomor_kk}">NIK Penduduk</td>
						      </tr>
						      <tr>
						        <td><b> Alamat</b></td>
						        <td th:text="${keluarga.alamat}">NIK Penduduk</td>
						      </tr>
						      <tr>
						        <td><b> RT/RW</b></td>
						        <td th:text="${keluarga.rt}+'/'+${keluarga.rw}">NIK Penduduk</td>
						      </tr>
						      <tr>
						        <td><b> Kelurahan/Desa</b></td>
						        <td th:text="${keluarga.kelurahan}">NIK Penduduk</td>
						      </tr>
						      <tr>
						        <td><b> Kecamatan</b></td>
						        <td th:text="${keluarga.kecamatan}">NIK Penduduk</td>
						      </tr>
						      <tr>
						        <td><b> Kota</b></td>
						        <td th:text="${keluarga.kota}">NIK Penduduk</td>
						      </tr>
						    </tbody>
						  </table>
					</div>
				 </div>
				 <div class="col-sm-2"></div>
				 <div class="col-sm-4 jumbotron">
				 <h4>Status Kartu Keluarga</h4>
				 <h5 th:text="${keluarga.is_tidak_berlaku}=='1' ? 'Tidak Berlaku' : 'Aktif'"></h5>
				 <a class="btn btn-secondary" th:href="'/keluarga/ubah/'+${keluarga.nomor_kk}">Perbaharui Keluarga</a>
				 </div>
			</div>
			<br/>
			<div class="row">
				<table class="table table-striped">
				<thead>
					<tr>
						<th>No.</th>
						<th>Nama</th>
						<th>NIK</th>
						<th>Jenis Kelamin</th>
						<th>TTL</th>
						<th>Agama</th>
						<th>Pekerjaan</th>
						<th>Status Perkawinan</th>
						<th>Status dalam Keluarga</th>
						<th>Kewarganegaraan</th>
						<th>Detil Penduduk</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="anggota,iterStats: ${keluarga.anggota}">
						<td th:text="${iterStats.index+1}">No</td>
						<td th:text="${anggota.nama}">Nama</td>
						<td th:text="${anggota.nik}">NIK</td>
						<td th:text="${anggota.jenis_kelamin}=='1' ? 'Wanita' : 'Pria'">Jenis Kelamin</td>
						<td th:text="${anggota.tempat_lahir}+', '+${anggota.tanggal_lahir}">Tempat Lahir</td>
						<td th:text="${anggota.agama}">Agama</td>
						<td th:text="${anggota.pekerjaan}">Pekerjaan</td>
						<td th:text="${anggota.status_perkawinan}">Status Perkawinan</td>
						<td th:text="${anggota.status_dalam_keluarga}">Status dalam Keluarga</td>
						<td th:text="${anggota.is_wni}=='1' ? 'WNI' : 'WNA'">Kewarganegaraan</td>
						<td><div class="btn btn-warning"><a th:href="'/penduduk?nik='+${anggota.nik}">Lihat</a></div></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div th:replace="fragments/fragment :: footer"></div>
	</body>
</html>